<head>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>
</head>
<footer class="p-footer"> 
    <p >&copy; Copyright 2022 altschool Africa; Awesome Place to learn</p>
</footer>

</body>
</html>