<head>
<link rel="stylesheet" href="/stylesheets/article.css" />
<link rel="stylesheet" href="/stylesheets/footer.css" />
</head>
        <%- include('./partials/header'); %>
    
    <main class="form-main">
        <form action="/article" method="POST">
            <label> Title <br>
                <input type="text" name="title"/><br>
            </label>
            <label> Description <br>
                <input type="text" name="description" /><br>
            </label>
            <label>Tags<br>
            <input type="text" name="tags" /><br>
            </label>
            <label>State <br>
            <input type="text" name="state" />
            </label>
            <label>Body <br>
                <textarea rows="20" cols="20" name="body"></textarea><br>
            </label>

            <button>Submit Article</button>
        </form>
    </main>
    <%- include('./partials/footer'); %>
    